body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(175, 175, 175);
}
.header {
    padding: 10px 0px;
    background-color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.content {
    padding: 1rem;
    height: 100rem;
    background: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 90%;
    margin: 9rem auto 1rem;
}

.section {
    width: 70%;
    margin: 0 auto;
    background: rgb(15, 15, 15);
    padding: 0.5rem;
    border: 0 solid black;
    border-radius: 1.4rem;
}

.section h1 {
    font-size: 3em;
    padding-bottom: 0.8rem;
    width: fit-content;
    margin: 0 auto;
}

.section p {
    font-size: 1.2em;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.element {
    width: 17rem;
    height: 5rem;
    align-content: center;
    border: 0.3rem solid black;
    border-radius: 0.6rem;
    padding: 0.4rem;
    font-size: 1.8rem;
    color: rgb(194, 194, 194);
    background: rgb(59, 59, 59);
    text-align: left;
    margin: 0.2rem;
}

.elemsymb {
    font-size: 2.5em;
    display: inline;
    margin: auto;
}

.elemnum, .elemmass {
    margin: auto;
    font-size: 0rem;
}

.elemname {
    display: inline;
}