body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(175, 175, 175);
}
.header {
    padding: 10px 0px;
    background-color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.content {
    padding: 0 auto;
    background: rgb(102, 102, 102);
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 1rem;
    width: 90%;
    margin: 9rem auto 1rem;
}

.section {
    width: 70%;
    margin: 1rem auto 2rem;
    color: rgb(216, 216, 216);
    background: rgb(20, 20, 20);
    text-align: center;
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    border: 0.2rem solid black;
    border-radius: 1.4rem;
}

.section h1 {
    font-size: 3em;
    padding-bottom: 0.8rem;
    width: fit-content;
    margin: 0 auto;
}

.section p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 0.2rem;
}

.footer {
    position: relative;
    bottom: 0;
    /* height: 5rem; */
    background-color: black;
}

.citations {
    color: white;
    padding: 0.1rem;
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

a {
    color: lightgray;
}

a:visited {
    color: gray;
}

.element {
    width: 18rem;
    height: 5.2rem;
    align-content: center;
    border: 0.3rem solid black;
    border-radius: 0.6rem;
    padding: 0.4rem;
    font-size: 2rem;
    color: rgb(194, 194, 194);
    background: rgb(59, 59, 59);
    text-align: left;
    margin: 0.2rem;
}

.elemsymb {
    font-size: 2.5em;
    display: inline;
    margin: auto;
}

.elemnum, .elemmass {
    margin: auto;
    font-size: 0rem;
}

.elemname {
    display: inline;
}